
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --text-color: #cdb045;
  --gradient: linear-gradient(to bottom, #fedf4e, #65421b);
  --grad1: linear-gradient(to left, #5236a9, #c3183d);
  --grad2: linear-gradient(to left, #5336a99b, #c3183ddd);
  --shadow:  0 5px 15px rgba(0, 0, 0, 0.142) ;
  --first-color : #ededed ;
  --second-color : #ffffff ;
  --third-color : #2c2c2c ;
  --blue : #0056b3 ;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

body{
  width: 100%;
  overflow-x: hidden;
  color: black;
  background-image: url("../assets/wall.png");
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

.container , .container1 {

  @media (min-width:1600px) {
    width: 1200px;
  }
  @media (min-width:1800px) {
    width: 1400px;
  }
  @media (min-width:2000px) {
    width: 1600px;
  }

  @media (max-width:1600px) {
    width: 95%;
  }

  @media (max-width:1200px) {
    width: 95%;
  }

  @media (max-width:768px) {
    width: 88% ;
  }

  margin: auto;
}

nav{
  box-shadow: var(--shadow);
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  position: fixed;
  transition: .3s;
  background-color: var(--first-color);
  z-index: 100000000000;
  @media (max-width:850px) {
    left: -300px;
  }
  .logo{
    cursor: pointer;
    padding: 20px 0 30px;
    width: 90%;
    margin: 0 auto;
    display: flex; align-items: center; justify-content: space-between;
    .img{
      display: flex; align-items: center; gap: 0;
      width: 150px;
      object-fit: contain;  
      .text{
        font-family: 'Pacifico', cursive;
        text-transform: uppercase;
        position: relative;
        p{
          margin-bottom: 10px;
          background: var(--gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 30px;
        }
        span{
          position: absolute;
          bottom: 3px;
          font-size: 15px;
          background: var(--gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: 'Poppins';
          letter-spacing: 1px;
        }
      }
      img{
        width: 50px;
        object-fit: contain;
      } 
    }
    .menu{
      width: 50px;
      height: 30px;
      display: flex; justify-content: space-between; flex-direction: column;
      cursor: pointer;
      &:hover{
        span{
          top: 50%;
          transform: translateY(-50%);
          position: relative;
          background-color: crimson;
          box-shadow: 0 0 5px crimson;
        }
        span:nth-child(1){ width: 80%; rotate: 45deg;}
        span:nth-child(2){ width: 100%; margin-left: 0; opacity: 0; }
        span:nth-child(3){ width: 80%; rotate: -45deg; top: -50%;}
      }
      span{
        width: 100%;
        height: 3px !important;
        background-color: var(--text-color);
        transition: .3s;
        &:nth-child(1){ width: 80%;}
        &:nth-child(2){ width: 80%; margin-left: 20%; }
        &:nth-child(3){ width: 60%;}
        
      }
    }
  }
  ul{
    li{
      font-size: 20px;
      padding: 10px 40px 10px 40px;
      margin: 5px;
      text-transform: capitalize;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'DM Sans';
      i{
        rotate: 90deg;
        font-family: cursive;
        transition: .3s;   
        &.rotate{ rotate: 180deg; } 
      }
      &:hover{
        opacity: .8;
      }
    }
  }
  .boxes{
    position: absolute;
    min-height:120vh;
    width: calc(100vw - 320px);
    top: 0;
    padding: 10px 10px;
    left:300px ;
    display: grid;  grid-template-columns: 1fr 1fr;  gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 10px;
    transition: .5s ease;
    overflow: scroll;
    &.active{
      left: 250px;
    }
    .box{
      background-color: white;
      width: 100%;
      min-height: 300px;
      position: relative;
      border: 1px solid white;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    }
  }

  .settings{
    position: absolute;
    top: 80px;
    right: -40px;
    display: flex; align-items: center; flex-direction: column; gap: 10px;
    z-index: 1000000;
    i{
      position: relative;
      z-index: 1000000;
      width: 40px;
      height: 50px;
      background-color: var(--first-color);
      display: flex; align-items: center; justify-content: center;
      border-radius: 0 25px 25px 0 ;
      border-left: unset;
      font-size: 20px;
      cursor: pointer;
      transition: .3s;
      animation: breathe 1.5s linear infinite;
      position: relative;
      &:hover{opacity: .8;}
      @keyframes breathe {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        }
        70% {
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
      }
    }
    i:nth-child(2){
      left: unset;
      right: calc(-100vw + 55px );
      border-radius: 50% 0 0 50% !important;
      top: -60px;
    }
  }
  .social{
    display: flex; align-items: center; justify-content: center; gap: 5px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    i{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 20px;
      color: white;
      transition: 0.3s;
      border-radius: 50%;
      box-shadow: 0 0 10px #9999;
      &:hover{opacity: .8; scale: .95;}
      &:nth-child(1){background-color: #5270a4;}
      &:nth-child(2){background-color: #ce4a81;}
      &:nth-child(3){background-color: #4db7eb;}
      &:nth-child(4){background-color: #65cb6e;}
      &:nth-child(5){background-color: #2a65af;}
    }
  }
}
.Nav2{
  background: var(--grad1);
  height: 250px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  
  .container{
    flex-direction: row-reverse;
    display: flex; align-items: center; justify-content: space-between;
    img{display: none; cursor: pointer;}
    .social{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 20px 0 10px 30px ;
    i{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 20px;
      color: white;
      transition: 0.3s;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(0,0,0,.15);
      &:hover{opacity: .8; scale: .95;}
      &:nth-child(1){background-color: #5270a4;}
      &:nth-child(2){background-color: #ce4a81;}
      &:nth-child(3){background-color: #4db7eb;}
      &:nth-child(4){background-color: #65cb6e;}
      &:nth-child(5){background-color: #2a65af;}
    }
  }
  img{
    width: 200px;
    margin-top: 14px;
    cursor: pointer;
  }
  }
  .container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>i{
      font-size: 30px;
      color: white;
      cursor: pointer;
    }
    img{
      width: 200px;
      object-fit: contain;
    }
    ul{
      display: flex; align-items: center; gap: 20px;
      cursor: pointer;
      li{
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        transition: .3s;
        position: relative;
        i{transition: .3s;}
        &::after{
          content: "";
          position: absolute;
          width: 0;
          height: 4px;
          background: var(--grad1);
          left: 0;
          bottom: -5px;
          transition: .3s;
        }

        &:hover{
          color: black;
          &::after{width: 100%;}
          i{
            rotate: 180deg;
            
          }
        }
    }
    }
  }

  .clip1{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -2px;
    clip-path: polygon(50% 49%, 100% 0, 100% 100%, 0% 100%);
    background: url("../assets/wall.png");
    background-color: #fff;
    z-index: 1;
  }
  .clip2{
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 54%, 0 0, 100% 100%, 0% 100%); 
    // background: url("../assets/wall.png");
    background-color: #ffffff18;
    z-index: 0;
  }

  @media (max-width: 1200px) {
    li{
      font-size: 18px !important;
    }
  }
  @media (max-width: 1050px) {
    height: 100px;
    .clip1 , .clip2{display: none;}
    .container1{
      display: none;
    }
    .container img{ display: block !important; }
  }
  @media (max-width: 650px) {
    .container{
      .social{margin-top: 20px;}
      i{
        width: 35px !important;
        height: 35px !important;
        font-size: 18px !important;
      }
      img{
        width: 150px !important;
        margin-top: 28px !important;
      }
    }
  }
  @media (max-width: 470px) {
    .container{
      .social{margin-top: 20px;}
      i{
        width: 28px !important;
        height: 28px !important;
        font-size: 16px !important;
      }
      img{
        width: 100px !important;
      }
    }
  }
  
}


.home{
  position: relative;
  .LOGO{
    position: absolute;
    top: 20px;
    left: 50px; 
    z-index: 10;
    cursor: pointer;
    @media (max-width:800px) {
      left: 50%;
      transform: translateX(-50%);
      img{
        width: 200px !important;
      }
    }
    img{
      width: 200px;
      height: 100%;
    }
  }
  .boxes-blogs{
    padding: 20px 0 50px 0;
    transition: .5s ease-in-out;
    &.list{
      transition: .5s ease-in-out;
      .container{
        grid-template-columns: 1fr;
        transition: .5s ease-in-out;
        .box:nth-child(even) {
          grid-template-columns: 1fr 400px;
          @media (max-width:800px) {
            grid-template-columns: 1fr 250px;
          }
          @media (max-width:650px) {
            grid-template-columns: 1fr;
            img{order: -1 !important ;}
          }
          img{order: 3;}
        }
        .box{
          display: grid; grid-template-columns: 400px 1fr; gap: 20px;
          min-height: fit-content;
          align-items: center;
          border-radius: 20px;
          transition: .5s ease-in-out;
          @media (max-width:800px) {
            grid-template-columns: 250px 1fr;
          }
          @media (max-width:650px) {
            grid-template-columns: 1fr;
          }       
          .text{
            .h2{text-align: left;}
          }
          
        }
      }
      
    }
    .options{
        --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
        // @media (max-width:1100px) {

        //   select{width: 100% !important;}
        //   .select2{width: 100% !important;}
        //   *{
        //     font-size: 14px !important;
        //   }
        // }
        // @media (max-width:600px) {
        //  .container1{
        //   display: grid !important; grid-template-columns: 1fr ; gap: 10px;
        //   select{width: 100% !important;}
        //   input{width: 100% !important;}
        //  }
        // }
        .container1{
          display: grid;grid-template-columns: 1fr 2fr 1fr; gap: 50px;
          margin-bottom: 30px;
          @media (max-width:900px) {
            grid-template-columns: 200px 1fr 200px;
          }
          @media (max-width:750px) {
            grid-template-columns: 1fr; gap: 10px;
          }
        }
        .select{
          position: relative;
          height: 43px;
          display: flex;
          flex-direction: column; justify-content: center;
          &::after{
            content: "";
            position: absolute;
            width: 43px;
            height: 100%;
            background: var(--grad2);
            top: 0;
            right: 0;
            z-index: 100;
            border-radius: 0 20px 20px 0;
            pointer-events: none;
            z-index: 9;
          }
        }
        select {
          appearance: none;
          border: 0;
          outline: 0;
          font: inherit;
          z-index: 10;
          position: relative;
          width: 100%;
          padding: 10px 10px;
          background: var(--arrow-icon) no-repeat right 0.8em center/1.4em, linear-gradient(to left, #ffffff00 42px, #fff 3em);
          color: black;
          border-radius: 20px;
          box-shadow: var(--shadow);
          cursor: pointer;
          font-family: "Poppins";
          text-transform: uppercase;
          font-weight: 600;
          padding-left: 20px;
          &::-ms-expand {
            display: none;
          }
          &:focus {
            outline: none;
          }
          option {
            color: inherit;
            background-color: white;
          }
        }
        .group{
          position: relative;
          input{
            width: 100% ;
            box-shadow: var(--shadow);
            padding: 10px;
            border-radius: 20px;
            border: 1px solid #eee;
            color: black;
            font-family: 'Poppins';
            font-weight: 600;
            padding-left: 20px;
            font-size: 15px;
            outline: none;
            transition: .3s;
            &::placeholder{color: black; text-transform: uppercase;}
          }
          i{
            position: absolute;
            top: 50%;
            width: 42px;
            height: 100%;
            background: var(--grad2);
            transform: translateY(-50%);
            right: 0;
            font-size: 20px;
            color: white;
            border-radius: 0 20px 20px 0;
            display: flex; align-items: center ; justify-content: center;
          }
        }
      
    }
    .container{
      display: grid; grid-template-columns:  1fr 1fr; gap: 20px; 
      transition: .5s;
      @media (max-width:600px) {
        grid-template-columns: 1fr;
      }
      .box{
        min-height: 500px ;
        background-color: var(--second-color);
        border-radius:20px;
        overflow: hidden;
        box-shadow:var(--shadow);
        background: url("../assets/wall.png");
        border: 1px solid #8888884c;
        outline: 1px solid #8888880c;
        transition: .5s;
        &>img{
          width: 100%;
          height: 400px;
          object-fit: cover;
          transition: .5s;
        }
        .text{
        padding: 10px;
        transition: .5s;
        .hash{
          font-size: 13px;
          margin-bottom: 10px;
          background: var(--grad1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .h2{
          font-size: 20px;
          text-transform: uppercase;
          cursor: pointer;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: 10px;
          // text-align: center;
        }
        .p{
          p:has(img){display: none;}
          *{
            font-size: 17px !important;
            font-weight: normal !important;
            line-height: 24px;
            color: #888;
          }
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          margin-bottom: 10px;
          img{display: none;}
        }
        .details{
          display: flex; align-items: center; gap: 20px;
        }
      }
      }
    }
    
    .pagination{
      display: flex; align-items: center; justify-content: center; gap: 5px;
      margin-top: 30px;
      div{
        width: 40px;
        height: 40px;
        display: flex; align-items: center; justify-content: center;
        background-color: white;
        box-shadow: var(--shadow);
        border: 1px solid #999;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
        &.active{
          background: var(--grad2);
          color: white;
          font-weight: bold ;
        }
        &:hover{
          background-color: var(--second-color);
        }
      }
    }
  }

}
.BlogDetails{
  width: 100%;
  position: relative;
  .intro{
    min-height: 100vh;
    padding: 100px 0 0 0;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
    pointer-events: none;
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      align-items: center;
      @media (max-width:1000px) {
        .h2{font-size: 18px !important; margin-bottom: 5px !important;}
        .p{font-size: 15px !important;}
      }
      @media (max-width:800px) {
        display: flex !important; flex-direction: column; gap: 10px;
        .ImgCover{
          max-height: 500px !important;
        }
        .text{
          background: #ffffff7a;
          padding: 10px;
          backdrop-filter: blur(2px);
           * {text-align: center;}
          }
      }
      .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100;
        position: relative;        
        *{
          color: black;
        }
        .h2{
          font-size: 25px;
          margin-bottom: 10px;
        }
      }
    }
    .ImgCover{
      width: 100%;
      height: 500px;
      @media (max-width:700px) {
        height: 300px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text{
      .hash{
        background: var(--grad1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 15px;
        letter-spacing: 2px;
      }
      .h2{
        font-size: 35px !important;
        margin-bottom: 10px;
        font-weight: bold;
        font-family: 'DM Sans' , Arial;
        line-height: 1.1;
        @media (max-width:850px) {
          font-size: 25px !important;
        }
      }
    }
  }
  .blog-detail {
    width: 100%;
    position: relative;
    padding: 20px 10px;
    margin: auto;
    .container{
      display: grid; grid-template-columns: 1fr 300px;
      gap: 20px;
      @media (max-width:1000px) {
        grid-template-columns: 1fr;
        .related{
          display: none !important;
        }
      }
      .related{
        width: 300px !important;
        height: 100vh;
        @media (min-width:1000px) {
          &.fixed{
            position: fixed; top: 10px; right: 20px;
            overflow: auto;
          overflow: -webkit-scrollbar;
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
          
          }
        }
        .box{
          background-color: var(--second-color);
          box-shadow: var(--shadow);
          border-radius: 20px !important;
          margin-top: 20px ;
          overflow: hidden;
          .coverImg{
            width: 100%;
            height: 200px !important;
            background-color: unset !important;
            box-shadow: var(--second-color) !important;
            img{
              border-radius: 20px 20px 0 0 ;
              margin: 0 !important;
              background: unset !important;
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .text{
            padding: 10px;
            .h2{
              
              font-size: 16px;
              margin-bottom: 5px;
              text-transform: capitalize;
              color: black;
              font-family: 'DM Sans' , Arial;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
      
            }
            .bt{
              font-size: 15px;
              padding: 5px 30px;
            }
            .details{
              color: rgba(0, 0, 0, 0.719);
              margin: 5px 0 20px;
              display: flex; align-items: center; gap: 10px; justify-content: center;
              *{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    
    h4 br {display: none !important;}
    p br{display: none;}
    h1, h2 {
      text-align: left;
      line-height: 1.2;
      font-size: 25px;
      margin: 30px 0 10px;
      padding: 0;
      box-sizing: border-box;
      color: var(--text-color);
      font-weight: 600;
      br{display: none;}
      @media (max-width:700px) {
        font-size: 20px !important;
      }
    }
    h3{
      color: #fff;
      font-size: 22px;
      line-height: 1.5;
      margin: -10px 0 2px;
      text-transform: capitalize;
      padding: 0;
      text-align: left;
      font-weight: 500;
      @media (max-width:700px) {
        font-size: 19px !important;
      }
    }

    img {
      width: 100%;
      object-fit: contain;
      max-height: 500px;
      margin: auto;
      border: 2px solid rgba(170, 170, 170, 0.1882352941);
      margin-bottom: 40px;
      margin: 20px 0;
      background: var(--grad1);
      box-shadow: 0 0 1000px #181818 inset;

      @media (max-width:600px) {
        height: auto;
        margin: 10px 0 !important;
      }
    }

    h4 {
      box-sizing: border-box;
      color: #797878;
      font-size: 18px;
      line-height: 1.5;
      margin: 0 0 10px;
      padding: 0;
      text-align: left;
      font-weight: 400;
      @media (max-width:700px) {
        font-size: 16px !important;
      }
    }

    p,
    h5 {
      color: #d8d8d8;
      font-size: 20px;
      text-align: left;
      padding: 0;
      box-sizing: border-box;
      margin-top: 0;
      line-height: 1.5;
      margin-bottom: 48px;
      letter-spacing: 1px;
      text-wrap: pretty;

      @media (max-width:700px) {
        font-size: 14px;
      }
    }
  }
}

footer{
background: var(--grad1);
position: relative;
padding: 0 0 20px;
overflow: hidden;
margin-top: -20px;
svg{
  @media (min-width:1050px) {
    top: -37px;
    position: relative;
  }
  path{
    fill: var(--first-color) ;
    // fill: url("../assets/wall.png");
    position: relative;
  }

}

.container{
  margin-top: -120px;
  @media (max-width:1100px) {
    margin-top: -20px;
  }
  display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;

  @media (max-width:1100px) {
    grid-template-columns: 200px 1fr 1fr;

  }
  @media (max-width:980px) {
    grid-template-columns: 200px 1fr 250px;
    ul{
      li:nth-child(1){ font-size: 20px !important ;}
      li:not(li:nth-child(1)){ font-size: 16px !important;}
    }
  }
  @media (max-width:850px) {
    grid-template-columns:  1fr;
    ul:nth-child(1){order: 4;}
    ul:nth-child(3){order: 5;}
    ul{
      width: 300px;
      margin: 0 auto;
    }
  }
  // @media (max-width:460px) {
  //   ul{
  //     width: 100%;
  //     margin: auto;
  //     li:not(li:nth-child(1)){
  //       font-size: 15px !important;
  //     }
  //   }
  // }
  .logo{
    width: 200px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  ul{
    min-width: 200px;
    li:nth-child(1){
      margin-bottom: 10px;
      margin-left: -10px;
      font-weight: 700px;
      font-family: 'Poppins';
      color: white;
      font-size: 25px;
      text-transform: uppercase;
    }
    li:has(i){margin-bottom: 12px !important;}
    li:not(li:nth-child(1)){
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
      margin-bottom: 3px;
      color: #ffffffdb;
      transition: 0.3s;

      i{
        font-size: 30px;
        background: linear-gradient(to right , #888 , white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        &.mess{
          font-size: 60px;
        }
      }
    }
    .group{
      background-color: white;
      position: relative;
      input{
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #999;
        font-size: 20px;
        color: black;
      }
      i{ 
        position: absolute;
        right: 0 ;
        top: 50%;
        transform: translateY(-50%);
        background: var(--grad2);
        padding: 14px;
        color: white;
        cursor: pointer;
        transition: .2s;
        &:hover{
          opacity: .8;
        }
      }
    }
    .email{text-transform: lowercase !important;}
    &.message{
      li::after{display: none !important;}
    }
  }
}

}

// Components ========================

.hero{

  .swiper{
    .swiper-button-next, .swiper-button-prev {
      width: 40px;
      height: 80px;
      background: rgba(255, 255, 255, 0.407);
      color: black;
      transition: .3s;
      &.swiper-button-next{right: 2px;}
      &.swiper-button-prev{left: 2px;}
      &::after{font-size: 25px !important; font-weight: bold;}
      &:hover{
        scale: .95;
        background-color: white;
        color: var(--text-color);
      }
    }
    .box{
      position: relative;
      min-height: 100vh;
      .coverImg{
        position: absolute;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text{
        
        width: 50%;
        position: absolute;
        left: 80px;
        top: 50px;
        background: var(--grad2) ;
        backdrop-filter: blur(1px);
        height: calc(100% - 100px);
        display: flex; flex-direction: column;  justify-content: center;
        padding: 20px;
        @media (max-width:800px) {
          width: calc(100% - 100px);
          left: 50px;
          top: unset;
          bottom: 50px;
          height: fit-content;
          .p ,.h2{text-align: center;}
        }
        .h2{
          font-size: 40px;
          margin-bottom: 20px;
          text-transform: capitalize;
          color: var(--text-color);
        }
        .p{
          text-transform: capitalize;
          color: white;
        }
      }
    }
  }
}

.Qoutes{
  margin-top: 20px;
  &.custom{
    margin-bottom: 50px;
    @media (min-width:1000px) {
      display: none;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    bottom: 20px;
    right: 30px;
    top: unset;
    width: 35px;
    height: 35px;
    background: var(--grad2);
    border-radius: 50%;
    color: white;
    &.swiper-button-next{right: 30px;}
    &.swiper-button-prev{left: 30px;}
    &::after{font-size: 15px !important; font-weight: bold;}
    &:hover{
      scale: .95;
      opacity: .8;
    }
  }
  .swiper-pagination-bullets {
    width: 50% !important;
    left: 50% !important;
    transform: translateX(-50%);
    .swiper-pagination-bullet{
      outline: 2px solid #663195;
      border: 6px solid white;
      margin-right: 15px !important;
      position: relative;
      bottom: 20px !important;
      top: unset;
  }
  }
  .box{
    position: relative;
    min-height: 300px;
    margin-bottom: 80px;
    border: 1px solid rgba(153, 148, 148, 0.541);
    background-color: var(--second-color);
    box-shadow: var(--shadow);
    border-radius:20px;
    overflow: hidden;
    .coverImg{
      position: relative;
      width: 100%;
      height: 180px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text{
      padding: 10px;
      .h2{
        font-size: 16px;
        margin-bottom: 5px;
        text-transform: capitalize;
        color: black;
        font-family: 'DM Sans' , Arial;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

      }
      .bt{
        font-size: 15px;
        padding: 5px 30px;
      }
      .details{
        color: rgba(0, 0, 0, 0.719);
        margin: 5px 0 20px;
        display: flex; align-items: center; gap: 10px; justify-content: center;
        *{
          font-size: 14px;
        }
      }
    }
  }
}
.category{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: var(--shadow);
    padding: 40px 40px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    background-color: rgba(102, 100, 100, 0.29);
    backdrop-filter: blur(5px);
    z-index: 100000000;
    clip-path: circle(0% at 50% 50%);
    height: 100vh;
    overflow: auto;
    overflow: -webkit-scrollbar;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &.active{ padding: 20px 0px 20px 300px; clip-path: circle(71% at 50% 50%) !important;     }
    &.active2{ clip-path: circle(71% at 50% 50%) !important;     }
  .container{
    display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 10px;
    .box{
      width: 100%;
      height: 300px;
      position: relative;
      overflow: hidden;
      @media (max-width:600px) {
        height: 200px ;
      }
      &:hover{
        img{
          transform: rotate(-3deg) scale(1.2);
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      .text{
        position: absolute;
        padding: 10px;
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 10;
        *{
          font-weight: 500;
          line-height: 28px;
          text-transform: capitalize;
          cursor: pointer;
          color: white;
          font-family: 'Pacifico';
          font-size: 25px;
          text-align: center;
          mix-blend-mode: color-burn;
        }

      }
    }
  }
  .fa-xmark{
    position: fixed;
    right: 70px;
    top: 40px;
    background: #888;
    width: 40px;
    height: 40px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    border: 1px solid #666;
    cursor: pointer;
    transition: .3s;
    &:hover{
      opacity: .8;
    }
  }
}
.contact-us{
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10000000000;
  background-color: rgb(102 100 100 / 29%);
  backdrop-filter: blur(5px);
  transform: translateY(-100%);
  transition: 0.3s;

  @media (max-width:850px) {
    padding-left: unset;
  }
  @media (max-width:700px) {
    form{
      width: 90% !important;
      height: 400px !important;
    }
  }
  &.show{
    transform:translateY(0);
  }
  .container{
    width: 100%;
    min-height: 100vh;
    display: flex; align-items: center; justify-content: center;
    form{
      width: 500px;
      height: 500px;
    background-color: var(--first-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: var(--shadow);
      .h1{    font-size: 30px;
        font-family: 'Pacifico';
        margin-bottom: 20px;
        text-align: center;
        text-transform: capitalize;}
      i{
        position: absolute;
        top: 0;
        right:0 ;
        width: 35px;
        height: 35px;
        background-color: #888;
        color: white;
        font-size: 20px;
        display: flex; align-items: center; justify-content: center;
        cursor: pointer;
        transition: .3s;
        &:hover{opacity: .8;}
      }
      input , textarea{
        padding: 7px 10px;
        margin-bottom: 10px;
        border: 1px solid #888;
        border-radius: 1px;
        font-family: 'DM Sans';
        color: black;
        &::placeholder{color: #555; }
      }
      .bt{}
    }
  }
}
.divider{
  width: 100%;
  height: 3px;
  --third-color: rgba(107, 105, 105, 0.698) ;
  box-shadow: 0 3px 3px var(--third-color) , 0 -3px 3px var(--third-color) , 0 0 10px var(--third-color) inset;
  margin: 30px 0;
}
.configration{
  position: fixed;
  height: fit-content;
  top: 20%;
  transform: translateY(-20%);
  right: 10px ;
  width: 200px;
  background: url("../assets/wall.png") ;
  z-index: 1000000000000000;
  background-color: var(--second-color);
  transition: .5s;
  clip-path: circle(0% at 50% 50%);
  box-shadow: var(--shadow);
  padding: 40px 20px 20px;
  // border-radius: 50px 0 0 0;
  &.active{
    clip-path: circle(101% at 50% 50%);
  }
  .fa-xmark{
    position: absolute;
    top: -5px ;
    left: -5px ;
    width: 30px;
    height: 30px;
    background: var(--grad1);
    display: flex; align-items: center; justify-content: center;
    font-size: 20px;
    color: white;
    transition: .3s;
    cursor: pointer;
    &:hover{opacity: .8;}
    box-shadow: var(--shadow);
  }

  .mode{
    background:white;
    display: flex; align-items: center; justify-content: space-between;
    padding: 5px;
    width: 150px;
    height: 35px;
    margin: 0 0 10px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    div{
      flex: 1 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'DM Sans' , Arial;
      text-transform: capitalize;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      border-radius: 0 20px 20px 0;
      &:hover{opacity: .7;}
      box-shadow: var(--shadow);
      &.ac{
        background: var(--grad2);
        border: 1px solid rgba(255, 255, 255, 0.401)  ;
        color: white;
        box-shadow: var(--shadow);
      }
      &:first-of-type{ border-radius:  20px 0 0 20px ;}
    }

  }
}

.Up {
  position: fixed;
  z-index: 1000000000000;
  display: none;
  flex-direction: column;
  right: 0;
  display: none;
  transition: .3s;
  @media (max-width:600px) {right : 0 !important ;}

  .whatsapp-btn , .UpIcon {
    position: relative;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background:var(--grad1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: breathe2 2s ease-in-out infinite;
    i {
      color: #fff;
      font-size: 24px;
      animation: beat 2s ease-in-out infinite;
      text-decoration: none;
    }
    @keyframes breathe2 {
      0% {
        box-shadow: 0 0 0 0 rgba(218, 55, 193, 0.5);
      }
      70% {
        box-shadow: 0 0 0 15px rgba(211, 37, 37, 0);
      }
      100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
    @keyframes beat {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  
   .UpIcon { 
    margin-top: 10px;    
    animation: unset;
    border-radius: unset;
    background: #222;
    border-radius: 50%;
    animation: up-down 1s linear infinite;

    @keyframes up-down {
      0% { transform: translateY(5px) }
      50% { transform: translateY(0px) }
      100% { transform: translateY(5px) }
    }
  }

  .whatsapp {
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/Chrome */
    color: transparent;
    @media(max-width:600px){ 
      font-size: 40px; 
    }
  }


  &.show-btn {
    display: flex !important;
  }
}




// Helpers  ========================
.Skelton{
  --loading-grey: #ededed;
  background-color: #fff !important ;
  z-index: -1;
  .card {
  height: 500px;
  background-color: #fff ;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
  position: relative;
}

.image {
  height: 300px;
}

.image img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.content {

  margin:auto;
  width: 90%;
}

h4 {
  margin: 10px auto;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
}

.loading .image,
.loading h4,
.loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: .05s;
}

.loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: .06s;
}
}

.h2{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  cursor: pointer;
  color: white;

}
.p{
    font-size: 17px ;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: rgb(229, 226, 226);
  }

.bt{
  width: fit-content;
  background:var(--grad1);
  color: white;
  padding: 8px 50px;
  margin: 10px auto 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: .3s;
  // border: 1px solid rgba(255, 255, 255, 0.47);
  box-shadow: var(--shadow);
  &::after{
    content: "\f135";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 41deg;
    transition: .3s;
    opacity: 0;
  }
  &:hover{
    &::after{margin-left: 75% ; opacity: 1;}
    background-color: var(--text-color);
  }
  }