@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --text-color: #cdb045;
  --gradient: linear-gradient(to bottom, #fedf4e, #65421b);
  --grad1: linear-gradient(to left, #5236a9, #c3183d);
  --grad2: linear-gradient(to left, #5336a99b, #c3183ddd);
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.142) ;
  --first-color: #ededed ;
  --second-color: #ffffff ;
  --third-color: #2c2c2c ;
  --blue: #0056b3 ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}
* a {
  color: inherit !important;
  text-decoration: none !important;
}
* li {
  list-style: none;
}
* ul {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: black;
  background-image: url("../assets/wall.png");
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

.container, .container1 {
  margin: auto;
}
@media (min-width: 1600px) {
  .container, .container1 {
    width: 1200px;
  }
}
@media (min-width: 1800px) {
  .container, .container1 {
    width: 1400px;
  }
}
@media (min-width: 2000px) {
  .container, .container1 {
    width: 1600px;
  }
}
@media (max-width: 1600px) {
  .container, .container1 {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .container, .container1 {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .container, .container1 {
    width: 88%;
  }
}

nav {
  box-shadow: var(--shadow);
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  position: fixed;
  transition: 0.3s;
  background-color: var(--first-color);
  z-index: 100000000000;
}
@media (max-width: 850px) {
  nav {
    left: -300px;
  }
}
nav .logo {
  cursor: pointer;
  padding: 20px 0 30px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo .img {
  display: flex;
  align-items: center;
  gap: 0;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .logo .img .text {
  font-family: "Pacifico", cursive;
  text-transform: uppercase;
  position: relative;
}
nav .logo .img .text p {
  margin-bottom: 10px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
nav .logo .img .text span {
  position: absolute;
  bottom: -8px;
  font-size: 13px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .logo .img img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .logo .menu {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
nav .logo .menu:hover span {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  background-color: crimson;
  box-shadow: 0 0 5px crimson;
}
nav .logo .menu:hover span:nth-child(1) {
  width: 80%;
  rotate: 45deg;
}
nav .logo .menu:hover span:nth-child(2) {
  width: 100%;
  margin-left: 0;
  opacity: 0;
}
nav .logo .menu:hover span:nth-child(3) {
  width: 80%;
  rotate: -45deg;
  top: -50%;
}
nav .logo .menu span {
  width: 100%;
  height: 3px !important;
  background-color: var(--text-color);
  transition: 0.3s;
}
nav .logo .menu span:nth-child(1) {
  width: 80%;
}
nav .logo .menu span:nth-child(2) {
  width: 80%;
  margin-left: 20%;
}
nav .logo .menu span:nth-child(3) {
  width: 60%;
}
nav ul li {
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  margin: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "DM Sans";
}
nav ul li i {
  rotate: 90deg;
  font-family: cursive;
  transition: 0.3s;
}
nav ul li i.rotate {
  rotate: 180deg;
}
nav ul li:hover {
  opacity: 0.8;
}
nav .boxes {
  position: absolute;
  min-height: 120vh;
  width: calc(100vw - 320px);
  top: 0;
  padding: 10px 10px;
  left: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 10px;
  transition: 0.5s ease;
  overflow: scroll;
}
nav .boxes.active {
  left: 250px;
}
nav .boxes .box {
  background-color: white;
  width: 100%;
  min-height: 300px;
  position: relative;
  border: 1px solid white;
}
nav .boxes .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
nav .settings {
  position: absolute;
  top: 30px;
  right: -40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1000000;
}
nav .settings i {
  position: relative;
  z-index: 1000000;
  width: 40px;
  height: 50px;
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 25px 25px 0;
  border-left: unset;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  animation: breathe 1.5s linear infinite;
}
nav .settings i:hover {
  opacity: 0.8;
}
@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
nav .settings i:nth-child(2) {
  left: unset;
  right: calc(-100vw + 55px);
  border-radius: 50% 0 0 50% !important;
  top: -60px;
}
nav .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
nav .social i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.6);
}
nav .social i:hover {
  opacity: 0.8;
  scale: 0.95;
}
nav .social i:nth-child(1) {
  background-color: #5270a4;
}
nav .social i:nth-child(2) {
  background-color: #ce4a81;
}
nav .social i:nth-child(3) {
  background-color: #4db7eb;
}
nav .social i:nth-child(4) {
  background-color: #65cb6e;
}
nav .social i:nth-child(5) {
  background-color: #2a65af;
}

.Nav2 {
  background: var(--grad1);
  height: 250px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.Nav2 .container {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav2 .container img {
  display: none;
  cursor: pointer;
}
.Nav2 .container .social {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 20px 0 10px 30px;
}
.Nav2 .container .social i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.Nav2 .container .social i:hover {
  opacity: 0.8;
  scale: 0.95;
}
.Nav2 .container .social i:nth-child(1) {
  background-color: #5270a4;
}
.Nav2 .container .social i:nth-child(2) {
  background-color: #ce4a81;
}
.Nav2 .container .social i:nth-child(3) {
  background-color: #4db7eb;
}
.Nav2 .container .social i:nth-child(4) {
  background-color: #65cb6e;
}
.Nav2 .container .social i:nth-child(5) {
  background-color: #2a65af;
}
.Nav2 .container img {
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
}
.Nav2 .container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav2 .container1 > i {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.Nav2 .container1 img {
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.Nav2 .container1 ul {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.Nav2 .container1 ul li {
  color: white;
  font-size: 25px;
  font-family: "Pacifico";
  text-transform: capitalize;
  transition: 0.3s;
  position: relative;
}
.Nav2 .container1 ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--text-color);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.Nav2 .container1 ul li:hover {
  color: var(--text-color);
}
.Nav2 .container1 ul li:hover::after {
  width: 100%;
}
.Nav2 .clip1 {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -2px;
  -webkit-clip-path: polygon(50% 49%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(50% 49%, 100% 0, 100% 100%, 0% 100%);
  background: url("../assets/wall.png");
  background-color: #fff;
  z-index: 1;
}
.Nav2 .clip2 {
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
  -webkit-clip-path: polygon(0 54%, 0 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 54%, 0 0, 100% 100%, 0% 100%);
  background-color: rgba(255, 255, 255, 0.0941176471);
  z-index: 0;
}
@media (max-width: 1200px) {
  .Nav2 li {
    font-size: 18px !important;
  }
}
@media (max-width: 1050px) {
  .Nav2 .container1 {
    display: none;
  }
  .Nav2 .container img {
    display: block !important;
  }
}
@media (max-width: 650px) {
  .Nav2 {
    height: 180px;
  }
  .Nav2 .container .social {
    margin-top: 20px;
  }
  .Nav2 .container i {
    width: 35px !important;
    height: 35px !important;
    font-size: 18px !important;
  }
  .Nav2 .container img {
    width: 150px !important;
  }
}
@media (max-width: 470px) {
  .Nav2 .container .social {
    margin-top: 20px;
  }
  .Nav2 .container i {
    width: 28px !important;
    height: 28px !important;
    font-size: 16px !important;
  }
  .Nav2 .container img {
    width: 100px !important;
  }
}

.home {
  position: relative;
}
.home .LOGO {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 10;
  cursor: pointer;
}
@media (max-width: 800px) {
  .home .LOGO {
    left: 50%;
    transform: translateX(-50%);
  }
  .home .LOGO img {
    width: 200px !important;
  }
}
.home .LOGO img {
  width: 200px;
  height: 100%;
}
.home .boxes-blogs {
  padding: 50px 0;
  transition: 0.5s ease-in-out;
}
.home .boxes-blogs.list {
  transition: 0.5s ease-in-out;
}
.home .boxes-blogs.list .container {
  grid-template-columns: 1fr;
  transition: 0.5s ease-in-out;
}
.home .boxes-blogs.list .container .box:nth-child(even) {
  grid-template-columns: 1fr 400px;
}
@media (max-width: 800px) {
  .home .boxes-blogs.list .container .box:nth-child(even) {
    grid-template-columns: 1fr 250px;
  }
}
@media (max-width: 650px) {
  .home .boxes-blogs.list .container .box:nth-child(even) {
    grid-template-columns: 1fr;
  }
  .home .boxes-blogs.list .container .box:nth-child(even) img {
    order: -1 !important;
  }
}
.home .boxes-blogs.list .container .box:nth-child(even) img {
  order: 3;
}
.home .boxes-blogs.list .container .box {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 20px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
@media (max-width: 800px) {
  .home .boxes-blogs.list .container .box {
    grid-template-columns: 250px 1fr;
  }
}
@media (max-width: 650px) {
  .home .boxes-blogs.list .container .box {
    grid-template-columns: 1fr;
  }
}
.home .boxes-blogs.list .container .box .text .h2 {
  text-align: left;
}
.home .boxes-blogs .options {
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}
@media (max-width: 1100px) {
  .home .boxes-blogs .options select {
    width: 150px !important;
  }
  .home .boxes-blogs .options .select2 {
    width: 180px !important;
  }
  .home .boxes-blogs .options * {
    font-size: 14px !important;
  }
}
@media (max-width: 600px) {
  .home .boxes-blogs .options .container1 {
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .home .boxes-blogs .options .container1 select {
    width: 100% !important;
  }
  .home .boxes-blogs .options .container1 input {
    width: 100% !important;
  }
}
.home .boxes-blogs .options .container1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.home .boxes-blogs .options select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 200px;
  padding: 10px 10px;
  background: var(--arrow-icon) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(102, 49, 149, 0.768627451) 3em, #fff 3em);
  color: black;
  border-radius: 20px;
  box-shadow: var(--shadow);
  cursor: pointer;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 20px;
}
.home .boxes-blogs .options select::-ms-expand {
  display: none;
}
.home .boxes-blogs .options select:focus {
  outline: none;
}
.home .boxes-blogs .options select option {
  color: inherit;
  background-color: white;
}
.home .boxes-blogs .options .group {
  position: relative;
}
.home .boxes-blogs .options .group input {
  width: 400px;
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #eee;
  color: black;
  font-family: "Poppins";
  font-weight: 600;
  padding-left: 20px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}
.home .boxes-blogs .options .group input:focus {
  width: 500px;
}
.home .boxes-blogs .options .group input::-moz-placeholder {
  color: black;
  text-transform: uppercase;
}
.home .boxes-blogs .options .group input::placeholder {
  color: black;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .home .boxes-blogs .options .group input {
    width: 200px;
  }
  .home .boxes-blogs .options .group input:focus {
    width: 300px;
  }
}
@media (max-width: 1100px) {
  .home .boxes-blogs .options .group input {
    width: 150px;
  }
  .home .boxes-blogs .options .group input:focus {
    width: 150px;
  }
}
.home .boxes-blogs .options .group i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 20px;
}
.home .boxes-blogs .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .home .boxes-blogs .container {
    grid-template-columns: 1fr;
  }
}
.home .boxes-blogs .container .box {
  min-height: 500px;
  background-color: var(--second-color);
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  background: url("../assets/wall.png");
  border: 1px solid rgba(136, 136, 136, 0.2980392157);
  outline: 1px solid rgba(136, 136, 136, 0.0470588235);
  transition: 0.5s;
}
.home .boxes-blogs .container .box > img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.home .boxes-blogs .container .box .text {
  padding: 10px;
  transition: 0.5s;
}
.home .boxes-blogs .container .box .text .h2 {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  text-align: center;
}
.home .boxes-blogs .container .box .text .p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.home .boxes-blogs .container .box .text .p p:has(img) {
  display: none;
}
.home .boxes-blogs .container .box .text .p * {
  font-size: 17px !important;
  font-weight: normal !important;
  line-height: 24px;
  color: #888;
}
.home .boxes-blogs .container .box .text .p img {
  display: none;
}
.home .boxes-blogs .container .box .text .details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home .boxes-blogs .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}
.home .boxes-blogs .pagination div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: var(--shadow);
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.home .boxes-blogs .pagination div.active {
  background: var(--grad2);
  color: white;
  font-weight: bold;
}
.home .boxes-blogs .pagination div:hover {
  background-color: var(--second-color);
}

.BlogDetails {
  width: 100%;
  position: relative;
}
.BlogDetails .intro {
  min-height: 100vh;
  padding: 200px 0 0;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BlogDetails .intro .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1000px) {
  .BlogDetails .intro .container .h2 {
    font-size: 18px !important;
    margin-bottom: 5px !important;
  }
  .BlogDetails .intro .container .p {
    font-size: 15px !important;
  }
}
@media (max-width: 800px) {
  .BlogDetails .intro .container {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
  }
  .BlogDetails .intro .container .ImgCover {
    max-height: 500px !important;
  }
  .BlogDetails .intro .container .text {
    background: rgba(255, 255, 255, 0.4784313725);
    padding: 10px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .BlogDetails .intro .container .text * {
    text-align: center;
  }
}
.BlogDetails .intro .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  position: relative;
}
.BlogDetails .intro .container .text * {
  color: black;
}
.BlogDetails .intro .container .text .h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.BlogDetails .intro .ImgCover {
  width: 100%;
  height: 80%;
}
.BlogDetails .intro .ImgCover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.BlogDetails .blog-detail {
  width: 100%;
  position: relative;
  padding: 20px 10px;
  margin: auto;
}
.BlogDetails .blog-detail .container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px;
}
@media (max-width: 950px) {
  .BlogDetails .blog-detail .container {
    grid-template-columns: 1fr;
  }
  .BlogDetails .blog-detail .container .related {
    display: grid !important;
    gap: 20px;
    height: -moz-fit-content !important;
    height: fit-content !important;
    background: url("../assets/wall.png");
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .BlogDetails .blog-detail .container .related .box {
    background-color: #fff;
    margin-bottom: unset !important;
  }
  .BlogDetails .blog-detail .container .related .box img {
    height: 300px !important;
  }
}
.BlogDetails .blog-detail .container .related {
  background-color: var(--second-color);
  box-shadow: var(--shadow);
  width: 300px !important;
  height: 100vh;
  background-image: url("../assets//wall.png");
}
@media (max-width: 950px) {
  .BlogDetails .blog-detail .container .related {
    width: 100% !important;
  }
}
@media (min-width: 950px) {
  .BlogDetails .blog-detail .container .related.fixed {
    position: fixed;
    top: 10px;
    right: 20px;
    overflow: auto;
    overflow: -webkit-scrollbar;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.BlogDetails .blog-detail .container .related .box {
  padding: 10px;
  margin-bottom: -60px;
}
.BlogDetails .blog-detail .container .related .box img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: unset !important;
  border: 1px solid #999 !important;
  box-shadow: var(--second-color) !important;
}
.BlogDetails .blog-detail .container .related .box .text {
  position: relative;
  top: -50px;
  width: 90%;
  padding: 10px;
  box-shadow: var(--shadow);
  margin: auto;
  background-color: var(--second-color);
}
.BlogDetails .blog-detail .container .related .box .text .h2 {
  color: var(--third-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}
@media (max-width: 900px) {
  .BlogDetails .blog-detail {
    width: 100%;
  }
}
.BlogDetails .blog-detail h4 br {
  display: none !important;
}
.BlogDetails .blog-detail p br {
  display: none;
}
.BlogDetails .blog-detail h1,
.BlogDetails .blog-detail h2 {
  text-align: left;
  line-height: 1.2;
  font-size: 25px;
  margin: 30px 0 10px;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-weight: 600;
}
.BlogDetails .blog-detail h1 br,
.BlogDetails .blog-detail h2 br {
  display: none;
}
@media (max-width: 700px) {
  .BlogDetails .blog-detail h1,
  .BlogDetails .blog-detail h2 {
    font-size: 20px !important;
  }
}
.BlogDetails .blog-detail h3 {
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
  margin: -10px 0 2px;
  text-transform: capitalize;
  padding: 0;
  text-align: left;
  font-weight: 500;
}
@media (max-width: 700px) {
  .BlogDetails .blog-detail h3 {
    font-size: 19px !important;
  }
}
.BlogDetails .blog-detail img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 500px;
  margin: auto;
  border: 2px solid rgba(170, 170, 170, 0.1882352941);
  margin-bottom: 40px;
  margin: 20px 0;
  background: var(--grad1);
  box-shadow: 0 0 1000px #181818 inset;
}
@media (max-width: 600px) {
  .BlogDetails .blog-detail img {
    height: auto;
    margin: 10px 0 !important;
  }
}
.BlogDetails .blog-detail h4 {
  box-sizing: border-box;
  color: #797878;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
  font-weight: 400;
}
@media (max-width: 700px) {
  .BlogDetails .blog-detail h4 {
    font-size: 16px !important;
  }
}
.BlogDetails .blog-detail p,
.BlogDetails .blog-detail h5 {
  color: #d8d8d8;
  font-size: 20px;
  text-align: left;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 48px;
  letter-spacing: 1px;
  text-wrap: pretty;
}
@media (max-width: 700px) {
  .BlogDetails .blog-detail p,
  .BlogDetails .blog-detail h5 {
    font-size: 14px;
  }
}

footer {
  background: var(--grad1);
  position: relative;
  padding: 0 0 20px;
  overflow: hidden;
  margin-top: -20px;
}
@media (min-width: 1050px) {
  footer svg {
    top: -37px;
    position: relative;
  }
}
footer svg path {
  fill: var(--first-color);
  position: relative;
}
footer .container {
  margin-top: -120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1100px) {
  footer .container {
    margin-top: -20px;
  }
}
@media (max-width: 1100px) {
  footer .container {
    grid-template-columns: 200px 1fr 1fr;
  }
}
@media (max-width: 980px) {
  footer .container {
    grid-template-columns: 200px 1fr 250px;
  }
  footer .container ul li:nth-child(1) {
    font-size: 20px !important;
  }
  footer .container ul li:not(li:nth-child(1)) {
    font-size: 16px !important;
  }
}
@media (max-width: 850px) {
  footer .container {
    grid-template-columns: 1fr;
  }
  footer .container ul:nth-child(1) {
    order: 4;
  }
  footer .container ul:nth-child(3) {
    order: 5;
  }
  footer .container ul {
    width: 300px;
    margin: 0 auto;
  }
}
footer .container .logo {
  width: 200px;
}
footer .container .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .container ul {
  min-width: 200px;
}
footer .container ul li:nth-child(1) {
  margin-bottom: 10px;
  margin-left: -10px;
  font-weight: 700px;
  font-family: "Poppins";
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}
footer .container ul li:has(i) {
  margin-bottom: 12px !important;
}
footer .container ul li:not(li:nth-child(1)) {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.8588235294);
  transition: 0.3s;
}
footer .container ul li:not(li:nth-child(1)) i {
  font-size: 30px;
  background: linear-gradient(to right, #888, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .container ul li:not(li:nth-child(1)) i.mess {
  font-size: 60px;
}
footer .container ul .group {
  background-color: white;
  position: relative;
}
footer .container ul .group input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  font-size: 20px;
  color: black;
}
footer .container ul .group i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--grad2);
  padding: 14px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
footer .container ul .group i:hover {
  opacity: 0.8;
}
footer .container ul .email {
  text-transform: lowercase !important;
}
footer .container ul.message li::after {
  display: none !important;
}

.hero .swiper .swiper-button-next, .hero .swiper .swiper-button-prev {
  width: 40px;
  height: 80px;
  background: rgba(255, 255, 255, 0.407);
  color: black;
  transition: 0.3s;
}
.hero .swiper .swiper-button-next.swiper-button-next, .hero .swiper .swiper-button-prev.swiper-button-next {
  right: 2px;
}
.hero .swiper .swiper-button-next.swiper-button-prev, .hero .swiper .swiper-button-prev.swiper-button-prev {
  left: 2px;
}
.hero .swiper .swiper-button-next::after, .hero .swiper .swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: bold;
}
.hero .swiper .swiper-button-next:hover, .hero .swiper .swiper-button-prev:hover {
  scale: 0.95;
  background-color: white;
  color: var(--text-color);
}
.hero .swiper .box {
  position: relative;
  min-height: 100vh;
}
.hero .swiper .box .coverImg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero .swiper .box .coverImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .swiper .box .text {
  width: 50%;
  position: absolute;
  left: 80px;
  top: 50px;
  background: var(--grad2);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 800px) {
  .hero .swiper .box .text {
    width: calc(100% - 100px);
    left: 50px;
    top: unset;
    bottom: 50px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero .swiper .box .text .p, .hero .swiper .box .text .h2 {
    text-align: center;
  }
}
.hero .swiper .box .text .h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: var(--text-color);
  font-family: "Pacifico";
}
.hero .swiper .box .text .p {
  text-transform: capitalize;
  color: white;
}

.Qoutes {
  margin-top: 20px;
}
.Qoutes .swiper-button-next, .Qoutes .swiper-button-prev {
  bottom: 20px;
  right: 30px;
  top: unset;
  width: 35px;
  height: 35px;
  background: var(--grad2);
  border-radius: 50%;
  color: white;
}
.Qoutes .swiper-button-next.swiper-button-next, .Qoutes .swiper-button-prev.swiper-button-next {
  right: 30px;
}
.Qoutes .swiper-button-next.swiper-button-prev, .Qoutes .swiper-button-prev.swiper-button-prev {
  left: 30px;
}
.Qoutes .swiper-button-next::after, .Qoutes .swiper-button-prev::after {
  font-size: 15px !important;
  font-weight: bold;
}
.Qoutes .swiper-button-next:hover, .Qoutes .swiper-button-prev:hover {
  scale: 0.95;
  opacity: 0.8;
}
.Qoutes .swiper-pagination-bullets {
  width: 50% !important;
  left: 50% !important;
  transform: translateX(-50%);
}
.Qoutes .swiper-pagination-bullets .swiper-pagination-bullet {
  outline: 2px solid #663195;
  border: 6px solid white;
  margin-right: 15px !important;
  position: relative;
  bottom: 20px !important;
  top: unset;
}
.Qoutes .box {
  position: relative;
  min-height: 300px;
  margin-bottom: 80px;
  border: 1px solid rgba(153, 148, 148, 0.541);
  background-color: var(--second-color);
  box-shadow: var(--shadow);
}
.Qoutes .box .coverImg {
  position: relative;
  width: 100%;
  height: 180px;
}
.Qoutes .box .coverImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Qoutes .box .text {
  padding: 10px;
}
.Qoutes .box .text .h2 {
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: black;
  font-family: "DM Sans", Arial;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Qoutes .box .text .bt {
  font-size: 15px;
  padding: 5px 30px;
}
.Qoutes .box .text .details {
  color: rgba(0, 0, 0, 0.719);
  margin: 5px 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.Qoutes .box .text .details * {
  font-size: 14px;
}

.category {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--shadow);
  padding: 40px 40px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  background-color: rgba(102, 100, 100, 0.29);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100000000;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  height: 100vh;
  overflow: auto;
  overflow: -webkit-scrollbar;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.category.active {
  padding: 20px 0px 20px 300px;
  -webkit-clip-path: circle(71% at 50% 50%) !important;
          clip-path: circle(71% at 50% 50%) !important;
}
.category.active2 {
  -webkit-clip-path: circle(71% at 50% 50%) !important;
          clip-path: circle(71% at 50% 50%) !important;
}
.category .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
.category .container .box {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 600px) {
  .category .container .box {
    height: 200px;
  }
}
.category .container .box:hover img {
  transform: rotate(-3deg) scale(1.2);
}
.category .container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.category .container .box .text {
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
.category .container .box .text * {
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
  font-family: "Pacifico";
  font-size: 25px;
  text-align: center;
  mix-blend-mode: color-burn;
}
.category .fa-xmark {
  position: fixed;
  right: 70px;
  top: 40px;
  background: #888;
  width: 40px;
  height: 40px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  border: 1px solid #666;
  cursor: pointer;
  transition: 0.3s;
}
.category .fa-xmark:hover {
  opacity: 0.8;
}

.contact-us {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10000000000;
  background-color: rgba(102, 100, 100, 0.29);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: translateY(-100%);
  transition: 0.3s;
}
@media (max-width: 850px) {
  .contact-us {
    padding-left: unset;
  }
}
@media (max-width: 700px) {
  .contact-us form {
    width: 90% !important;
    height: 400px !important;
  }
}
.contact-us.show {
  transform: translateY(0);
}
.contact-us .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us .container form {
  width: 500px;
  height: 500px;
  background-color: var(--first-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: var(--shadow);
}
.contact-us .container form .h1 {
  font-size: 30px;
  font-family: "Pacifico";
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}
.contact-us .container form i {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #888;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.contact-us .container form i:hover {
  opacity: 0.8;
}
.contact-us .container form input, .contact-us .container form textarea {
  padding: 7px 10px;
  margin-bottom: 10px;
  border: 1px solid #888;
  border-radius: 1px;
  font-family: "DM Sans";
  color: black;
}
.contact-us .container form input::-moz-placeholder, .contact-us .container form textarea::-moz-placeholder {
  color: #555;
}
.contact-us .container form input::placeholder, .contact-us .container form textarea::placeholder {
  color: #555;
}
.divider {
  width: 100%;
  height: 3px;
  --third-color: rgba(107, 105, 105, 0.698) ;
  box-shadow: 0 3px 3px var(--third-color), 0 -3px 3px var(--third-color), 0 0 10px var(--third-color) inset;
  margin: 30px 0;
}

.configration {
  position: fixed;
  height: -moz-fit-content;
  height: fit-content;
  top: 20%;
  transform: translateY(-20%);
  right: 10px;
  width: 200px;
  background: url("../assets/wall.png");
  z-index: 1000000000000000;
  background-color: var(--second-color);
  transition: 0.5s;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  box-shadow: var(--shadow);
  padding: 70px 20px 20px;
}
.configration.active {
  -webkit-clip-path: circle(71% at 50% 50%);
          clip-path: circle(71% at 50% 50%);
}
.configration .fa-xmark {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: var(--grad2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.configration .fa-xmark:hover {
  opacity: 0.8;
}
.configration .mode {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 150px;
  height: 35px;
  margin: 0 0 10px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}
.configration .mode div {
  flex: 1 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "DM Sans", Arial;
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 0 20px 20px 0;
  box-shadow: var(--shadow);
}
.configration .mode div:hover {
  opacity: 0.7;
}
.configration .mode div.ac {
  background: var(--grad2);
  border: 1px solid rgba(255, 255, 255, 0.401);
  color: white;
  box-shadow: var(--shadow);
}
.configration .mode div:first-of-type {
  border-radius: 20px 0 0 20px;
}

.Skelton {
  --loading-grey: #ededed;
  background-color: #fff !important;
  z-index: -1;
}
.Skelton .card {
  height: 500px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  position: relative;
}
.Skelton .image {
  height: 300px;
}
.Skelton .image img {
  display: block;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.Skelton .content {
  margin: auto;
  width: 90%;
}
.Skelton h4 {
  margin: 10px auto;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.Skelton .description {
  font-size: 1rem;
  line-height: 1.4rem;
}
.Skelton .loading .image,
.Skelton .loading h4,
.Skelton .loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}
@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
.Skelton .loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: 0.05s;
}
.Skelton .loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: 0.06s;
}

.h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
}

.p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: rgb(229, 226, 226);
}

.bt {
  width: -moz-fit-content;
  width: fit-content;
  background: var(--grad1);
  color: white;
  padding: 8px 50px;
  margin: 10px auto 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  box-shadow: var(--shadow);
}
.bt::after {
  content: "\f135";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 41deg;
  transition: 0.3s;
  opacity: 0;
}
.bt:hover {
  background-color: var(--text-color);
}
.bt:hover::after {
  margin-left: 75%;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */