
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');

:root {
  --text-color: #cdb045;
  --gradient: linear-gradient(to bottom, #fedf4e, #65421b);
  --grad1: linear-gradient(to right, #5236a9, #c3183d);
  --shadow:  13px 13px 20px #cbced1, -13px -13px 20px #fff ;
  --first-color : #f6f6f6 ;
  --second-color : #ecf0f3 ;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

body{
  width: 100%;
  overflow-x: hidden;
  color: black;
  background-color:  var(--first-color);
  // font-family: 'Open Sans', Arial;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

.container , .container1 {

  @media (min-width:1600px) {
    width: 1200px;
  }
  @media (min-width:1800px) {
    width: 1400px;
  }
  @media (min-width:2000px) {
    width: 1600px;
  }

  @media (max-width:1600px) {
    width: 95%;
  }

  @media (max-width:1200px) {
    width: 95%;
  }

  @media (max-width:768px) {
    width: 88% ;
  }

  margin: auto;
}

.app{
  padding-left: 300px ;
  transition: .3s;
  position: relative;
  @media (max-width:850px) {
    padding-left: 0;
  }
}
.webpack-dev-server-client-overlay-div{display: none !important;}

nav{
  box-shadow: var(--shadow);
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  position: fixed;
  transition: .3s;
  background-color: #eeeeee;
  z-index: 100000000000;
  @media (max-width:850px) {
    left: -300px;
  }
  .logo{
    padding: 20px 0 30px;
    width: 90%;
    margin: 0 auto;
    display: flex; align-items: center; justify-content: space-between;
    .img{
      display: flex; align-items: center; gap: 0;
      width: 150px;
      object-fit: contain;  
      .text{
        font-family: 'Pacifico', cursive;
        text-transform: uppercase;
        position: relative;
        p{
          margin-bottom: 10px;
          background: var(--gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 30px;
        }
        span{
          position: absolute;
          bottom: -8px;
          font-size: 13px;
          background: var(--gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

        }
      }
      img{
        width: 50px;
        object-fit: contain;
      } 
    }
    .menu{
      width: 50px;
      height: 30px;
      display: flex; justify-content: space-between; flex-direction: column;
      cursor: pointer;
      &:hover{
        span{
          top: 50%;
          transform: translateY(-50%);
          position: relative;
          background-color: crimson;
          box-shadow: 0 0 5px crimson;
        }
        span:nth-child(1){ width: 80%; rotate: 45deg;}
        span:nth-child(2){ width: 100%; margin-left: 0; opacity: 0; }
        span:nth-child(3){ width: 80%; rotate: -45deg; top: -50%;}
      }
      span{
        width: 100%;
        height: 3px !important;
        background-color: var(--text-color);
        transition: .3s;
        &:nth-child(1){ width: 80%;}
        &:nth-child(2){ width: 80%; margin-left: 20%; }
        &:nth-child(3){ width: 60%;}
        
      }
    }
  }
  ul{
    li{
      font-size: 20px;
      padding: 10px 40px 10px 40px;
      margin: 5px;
      text-transform: capitalize;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'DM Sans';
      i{
        rotate: 90deg;
        font-family: cursive;
        transition: .3s;   
        &.rotate{ rotate: 180deg; } 
      }
      &:hover{
        opacity: .8;
      }
    }
  }
  .boxes{
    position: absolute;
    min-height:120vh;
    width: calc(100vw - 320px);
    top: 0;
    padding: 10px 10px;
    left:300px ;
    display: grid;  grid-template-columns: 1fr 1fr;  gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 10px;
    transition: .5s ease;
    overflow: scroll;
    &.active{
      left: 250px;
    }
    .box{
      background-color: white;
      width: 100%;
      min-height: 300px;
      position: relative;
      border: 1px solid white;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    }
  }

  .settings{
    position: absolute;
    top: 30px;
    right: -50px;
    display: flex; align-items: center; flex-direction: column; gap: 10px;
    z-index: 1000000;
    i{
      position: relative;
      z-index: 1000000;
      width: 50px;
      height: 50px;
      background-color: var(--first-color);
      display: flex; align-items: center; justify-content: center;
      border-radius: 0 25px 25px 0 ;
      // border: 1px solid #8888887a;
      border-left: unset;
      font-size: 20px;
      cursor: pointer;
      transition: .3s;
      animation: breathe 1.5s linear infinite;
      &:hover{opacity: .8;}
      @keyframes breathe {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
        }
        70% {
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
      }
    }
  }
  .social{
    display: flex; align-items: center; justify-content: center; gap: 5px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    i{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 30px;
      color: white;
      transition: 0.3s;
      border-radius: 50% 50% 5px;
      box-shadow: 0 0 10px #9999;
      &:hover{opacity: .8; scale: .95;}
      &:nth-child(1){background-color: #5270a4;}
      &:nth-child(2){background-color: #ce4a81;}
      &:nth-child(3){background-color: #4db7eb;}
      &:nth-child(4){background-color: #65cb6e;}
      &:nth-child(5){background-color: #2a65af;}
    }
  }
}
.category{
  background-color: var(--second-color);
  position: fixed;
  top: 0;
  width: calc(100% - 300px);
  box-shadow:var(--shadow);
  padding: 40px 20px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: .3s;
  &.active{clip-path:polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;}
  .container{
    display: grid; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); gap: 10px;
    .box{
      width: 100%;
      height: 400px;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
      .text{
        position: absolute;
        z-index: 100;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        background-color: #eeeeee76;
        backdrop-filter: blur(1px);
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

      }
    }
  }
}

.home{
  .boxes-blogs{
    padding: 50px 0;
    .container{
      display: grid; grid-template-columns:  repeat(auto-fill, minmax(350px, 1fr)) ; gap: 20px; 
      .box{
        min-height: 500px ;
        background-color: var(--second-color);
        border-radius: 20px ;
        overflow: hidden;
        box-shadow:var(--shadow);
        border: 1px solid #8888882b;
        &>img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          border: 3px solid var(--text-color);
          border-radius: 20px 20px 0 0;
        }
        .text{
        padding: 10px;
        .h2{
          font-size: 20px;
          text-transform: uppercase;
          cursor: pointer;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: 10px;
          text-align: center;
        }
        .p{
          p:has(img){display: none;}
          *{
            font-size: 17px !important;
            font-weight: normal !important;
            line-height: 24px;
            color: #888;
          }
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
          margin-bottom: 10px;
          img{display: none;}
        }
        .details{
          display: flex; align-items: center; gap: 20px;
        }
      }
      }
    }

    .pagination{
      display: flex; align-items: center; justify-content: center; gap: 5px;
      margin-top: 30px;
      div{
        width: 40px;
        height: 40px;
        display: flex; align-items: center; justify-content: center;
        background-color: white;
        box-shadow: var(--shadow);
        border: 1px solid #999;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
        &.active{
          background-color: var(--text-color);
        }
        &:hover{
          background-color: var(--second-color);
        }
      }
    }
  }

}

footer{
background: var(--grad1);
position: relative;
z-index: 1000000000000000000;
padding: 50px 0 20px;
.container{
  // display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;
  display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;
  @media (max-width:1500px) {
    grid-template-columns: 200px 1fr 1fr;
  }
  @media (max-width:1350px) {
    grid-template-columns: auto 1fr 300px;
  }
  @media (max-width:1350px) {
    grid-template-columns: auto 1fr 300px;
  }
  @media (max-width:1300px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width:1100px) {
    grid-template-columns: 1fr;
    ul{
      width: 300px;
      margin: auto;
    }
  }
  @media (max-width:460px) {
    ul{
      width: 100%;
      margin: auto;
      li:not(li:nth-child(1)){
        font-size: 15px !important;
      }
    }
  }
  .logo{
    width: 200px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  ul{
    min-width: 200px;
    li:nth-child(1){
      font-size: 22px;
      margin-bottom: 10px;
      margin-left: -10px;
      font-weight: 700px;
      font-family: 'Pacifico', cursive;
      background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    li:not(li:nth-child(1)){
      font-size: 18px;
      display: flex; align-items: center; gap: 10px;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;
      margin-bottom: 6px;
      color: white;
      transition: .3s;
      &::after{
        content:"" ;
        position: absolute;
        width: 8px;
        height: 8px;
        background:#eee;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
      }
      // &:hover{opacity: .5;}
      i{
        font-size: 25px;
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &.mess{
          font-size: 60px;
        }
      }
    }
    .group{
      background-color: white;
      position: relative;
      input{
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #999;
        font-size: 20px;
        color: black;
      }
      i{ 
        position: absolute;
        right: 0 ;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--text-color);
        padding: 14px;
        cursor: pointer;
        transition: .2s;
        &:hover{
          opacity: .8;
        }
      }
    }
    .email{text-transform: lowercase !important;}
    &.message{
      li::after{display: none !important;}
    }
  }
}

}
.hero{
  .slider__navi {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
  }
  
  .slider__navi a {
    display: block;
    height: 6px;
    width: 20px;
    margin: 20px 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    background: rgba(0,0,0,0.2);
  }
  
  .slider__navi a.active {
    background: rgba(255,255,255,1);
  }
  
  body {
    position: relative;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    min-height: 100vh;
  }
  
  .flex__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap; 
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
  
  .flex__container.flex--active {
    z-index: 2;
  }
  
  .text--sub {
    font-size: 12px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .text--big {
    font-family: 'Poppins', sans-serif;
    font-size: 7.5em;
    font-weight: 700;
    line-height: 110px;
    margin-left: -8px;
  }
  
  .text--normal {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    margin-top: 25px;
  }
  
  .text__background {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 72px;
    bottom: -60px;
    color: rgba(0,0,0,0.05);
    font-size: 170px;
    font-weight: 700;
  }
  
  .flex__item {
    height: 100vh;
    color: #fff;
    transition: transform 0.1s linear;
  }
  
  .flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 65%;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    overflow: hidden;
  }
  
  .flex__item--right {
    width: 35%;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
    opacity: 0;
  }
  
  .flex--preStart .flex__item--left,
  .flex--preStart .flex__item--right,
  .flex--active .flex__item--left,
  .flex--active .flex__item--right {
    opacity: 1;
  }
  
  /* Piplup */
  
  .flex--piplup .flex__item--left {
    background: #3e9fe6;
  }
  
  .flex--piplup .flex__item--right {
    background: #d3eaef;
  }
  
  /* Pikachu */
  
  .flex--pikachu .flex__item--left {
    background: #f8d41f;
  }
  
  .flex--pikachu .flex__item--right {
    background: #f4ecc5;
  }
  
  /* Blaziken */
  
  .flex--blaziken .flex__item--left {
    background: #f64f37;
  }
  
  .flex--blaziken .flex__item--right {
    background: #ffebcd;
  }
  
  /* Dialga */
  
  .flex--dialga .flex__item--left {
    background: #476089;
  }
  
  .flex--dialga .flex__item--right {
    background: #ade8f7;
  }
  
  /* Zekrom */
  
  .flex--zekrom .flex__item--left {
    background: #424242;
  }
  
  .flex--zekrom .flex__item--right {
    background: #a7bcbb;
  }
  
  .flex__content {
    margin-left: 80px;
    width: 55%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  }
  
  .pokemon__img {
    position: absolute;
    bottom: 20px;
    right: 15%;
    max-height: 40vw;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
  }
  
  /* Animate-START point */
  
  .flex__container.animate--start .flex__content {
    transform: translate3d(0,-200%,0);
    opacity: 0;
  }
  
  .flex__container.animate--start .pokemon__img {
    transform: translate3d(-200px,0,0);
    opacity: 0;
  }
  
  /* Animate-END point */
  
  .flex__container.animate--end .flex__item--left {
    transform: scaleY(0);
  }
  
  .flex__container.animate--end .flex__item--right {
    transform: scaleX(0);
  }
  
  .flex__container.animate--end .flex__content {
    transform: translate3d(0,200%,0);
    opacity: 0;
  }
  
  .flex__container.animate--end .pokemon__img {
    transform: translate3d(200px,0,0);
    opacity: 0;
  }
}
// Components 
.Skelton{
  --loading-grey: #ededed;
  background-color: #fff !important ;
  z-index: -1;
  .card {
  height: 500px;
  background-color: #fff ;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
  position: relative;
}

.image {
  height: 300px;
}

.image img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.content {

  margin:auto;
  width: 90%;
}

h4 {
  margin: 10px auto;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
}

.loading .image,
.loading h4,
.loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: .05s;
}

.loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: .06s;
}
}

.h2{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  cursor: pointer;
  color: white;

}
.p{
    font-size: 17px ;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: rgb(229, 226, 226);
  }