@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap");
:root {
  --text-color: #cdb045;
  --gradient: linear-gradient(to bottom, #fedf4e, #65421b);
  --grad1: linear-gradient(to right, #5236a9, #c3183d);
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.142) ;
  --first-color: #ededed ;
  --second-color: #ffffff ;
  --third-color: #2c2c2c ;
  --blue: #0056b3 ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}
* a {
  color: inherit !important;
  text-decoration: none !important;
}
* li {
  list-style: none;
}
* ul {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: black;
  background-color: var(--first-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

.container, .container1 {
  margin: auto;
}
@media (min-width: 1600px) {
  .container, .container1 {
    width: 1200px;
  }
}
@media (min-width: 1800px) {
  .container, .container1 {
    width: 1400px;
  }
}
@media (min-width: 2000px) {
  .container, .container1 {
    width: 1600px;
  }
}
@media (max-width: 1600px) {
  .container, .container1 {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .container, .container1 {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .container, .container1 {
    width: 88%;
  }
}

.app {
  padding-left: 300px;
  transition: 0.3s;
  position: relative;
}
@media (max-width: 850px) {
  .app {
    padding-left: 0;
  }
}

#webpack-dev-server-client-overlay-div {
  display: none !important;
}

nav {
  box-shadow: var(--shadow);
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  position: fixed;
  transition: 0.3s;
  background-color: var(--first-color);
  z-index: 100000000000;
}
@media (max-width: 850px) {
  nav {
    left: -300px;
  }
}
nav .logo {
  padding: 20px 0 30px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo .img {
  display: flex;
  align-items: center;
  gap: 0;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .logo .img .text {
  font-family: "Pacifico", cursive;
  text-transform: uppercase;
  position: relative;
}
nav .logo .img .text p {
  margin-bottom: 10px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
nav .logo .img .text span {
  position: absolute;
  bottom: -8px;
  font-size: 13px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .logo .img img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .logo .menu {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
nav .logo .menu:hover span {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  background-color: crimson;
  box-shadow: 0 0 5px crimson;
}
nav .logo .menu:hover span:nth-child(1) {
  width: 80%;
  rotate: 45deg;
}
nav .logo .menu:hover span:nth-child(2) {
  width: 100%;
  margin-left: 0;
  opacity: 0;
}
nav .logo .menu:hover span:nth-child(3) {
  width: 80%;
  rotate: -45deg;
  top: -50%;
}
nav .logo .menu span {
  width: 100%;
  height: 3px !important;
  background-color: var(--text-color);
  transition: 0.3s;
}
nav .logo .menu span:nth-child(1) {
  width: 80%;
}
nav .logo .menu span:nth-child(2) {
  width: 80%;
  margin-left: 20%;
}
nav .logo .menu span:nth-child(3) {
  width: 60%;
}
nav ul li {
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  margin: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "DM Sans";
}
nav ul li i {
  rotate: 90deg;
  font-family: cursive;
  transition: 0.3s;
}
nav ul li i.rotate {
  rotate: 180deg;
}
nav ul li:hover {
  opacity: 0.8;
}
nav .boxes {
  position: absolute;
  min-height: 120vh;
  width: calc(100vw - 320px);
  top: 0;
  padding: 10px 10px;
  left: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 10px;
  transition: 0.5s ease;
  overflow: scroll;
}
nav .boxes.active {
  left: 250px;
}
nav .boxes .box {
  background-color: white;
  width: 100%;
  min-height: 300px;
  position: relative;
  border: 1px solid white;
}
nav .boxes .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
nav .settings {
  position: absolute;
  top: 30px;
  right: -50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1000000;
}
nav .settings i {
  position: relative;
  z-index: 1000000;
  width: 50px;
  height: 50px;
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 25px 25px 0;
  border-left: unset;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  animation: breathe 1.5s linear infinite;
}
nav .settings i:hover {
  opacity: 0.8;
}
@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
nav .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
nav .social i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.6);
}
nav .social i:hover {
  opacity: 0.8;
  scale: 0.95;
}
nav .social i:nth-child(1) {
  background-color: #5270a4;
}
nav .social i:nth-child(2) {
  background-color: #ce4a81;
}
nav .social i:nth-child(3) {
  background-color: #4db7eb;
}
nav .social i:nth-child(4) {
  background-color: #65cb6e;
}
nav .social i:nth-child(5) {
  background-color: #2a65af;
}

.home .boxes-blogs {
  padding: 50px 0;
}
.home .boxes-blogs .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.home .boxes-blogs .container .box {
  min-height: 500px;
  background-color: var(--second-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--shadow);
}
.home .boxes-blogs .container .box > img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 10px 10px;
}
.home .boxes-blogs .container .box .text {
  padding: 10px;
}
.home .boxes-blogs .container .box .text .h2 {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  text-align: center;
}
.home .boxes-blogs .container .box .text .p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.home .boxes-blogs .container .box .text .p p:has(img) {
  display: none;
}
.home .boxes-blogs .container .box .text .p * {
  font-size: 17px !important;
  font-weight: normal !important;
  line-height: 24px;
  color: #888;
}
.home .boxes-blogs .container .box .text .p img {
  display: none;
}
.home .boxes-blogs .container .box .text .details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home .boxes-blogs .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}
.home .boxes-blogs .pagination div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: var(--shadow);
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.home .boxes-blogs .pagination div.active {
  background-color: var(--text-color);
}
.home .boxes-blogs .pagination div:hover {
  background-color: var(--second-color);
}

footer {
  background: var(--grad1);
  position: relative;
  z-index: 1000000000000000000;
  padding: 0 0 20px;
  margin-top: 50px;
  overflow: hidden;
}
footer svg path {
  fill: var(--first-color);
}
footer .container {
  margin-top: -120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1100px) {
  footer .container {
    margin-top: -20px;
  }
}
@media (max-width: 1500px) {
  footer .container {
    grid-template-columns: 200px 1fr 1fr;
  }
}
@media (max-width: 1350px) {
  footer .container {
    grid-template-columns: auto 1fr 300px;
  }
}
@media (max-width: 1350px) {
  footer .container {
    grid-template-columns: auto 1fr 300px;
  }
}
@media (max-width: 1300px) {
  footer .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1100px) {
  footer .container {
    grid-template-columns: 1fr;
  }
  footer .container ul {
    width: 300px;
    margin: auto;
  }
}
@media (max-width: 460px) {
  footer .container ul {
    width: 100%;
    margin: auto;
  }
  footer .container ul li:not(li:nth-child(1)) {
    font-size: 15px !important;
  }
}
footer .container .logo {
  width: 200px;
}
footer .container .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .container ul {
  min-width: 200px;
}
footer .container ul li:nth-child(1) {
  font-size: 22px;
  margin-bottom: 10px;
  margin-left: -10px;
  font-weight: 700px;
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 30px;
}
footer .container ul li:not(li:nth-child(1)) {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  margin-bottom: 6px;
  color: white;
  transition: 0.3s;
}
footer .container ul li:not(li:nth-child(1)) i {
  font-size: 25px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .container ul li:not(li:nth-child(1)) i.mess {
  font-size: 60px;
}
footer .container ul .group {
  background-color: white;
  position: relative;
}
footer .container ul .group input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  font-size: 20px;
  color: black;
}
footer .container ul .group i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--text-color);
  padding: 14px;
  cursor: pointer;
  transition: 0.2s;
}
footer .container ul .group i:hover {
  opacity: 0.8;
}
footer .container ul .email {
  text-transform: lowercase !important;
}
footer .container ul.message li::after {
  display: none !important;
}

.hero .swiper .swiper-button-next, .hero .swiper .swiper-button-prev {
  width: 40px;
  height: 80px;
  background: rgba(255, 255, 255, 0.407);
  color: black;
  transition: 0.3s;
}
.hero .swiper .swiper-button-next.swiper-button-next, .hero .swiper .swiper-button-prev.swiper-button-next {
  right: 2px;
}
.hero .swiper .swiper-button-next.swiper-button-prev, .hero .swiper .swiper-button-prev.swiper-button-prev {
  left: 2px;
}
.hero .swiper .swiper-button-next::after, .hero .swiper .swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: bold;
}
.hero .swiper .swiper-button-next:hover, .hero .swiper .swiper-button-prev:hover {
  scale: 0.95;
  background-color: white;
  color: var(--text-color);
}
.hero .swiper .box {
  position: relative;
  min-height: 100vh;
}
.hero .swiper .box .coverImg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero .swiper .box .coverImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .swiper .box .text {
  width: 50%;
  position: absolute;
  left: 80px;
  top: 50px;
  background-color: rgba(177, 175, 175, 0.4156862745);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 800px) {
  .hero .swiper .box .text {
    width: calc(100% - 100px);
    left: 50px;
    top: unset;
    bottom: 50px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero .swiper .box .text .p, .hero .swiper .box .text .h2 {
    text-align: center;
  }
}
.hero .swiper .box .text .h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--text-color);
}
.hero .swiper .box .text .p {
  text-transform: capitalize;
  color: black;
}

.category {
  background-color: var(--first-color);
  position: absolute;
  top: 0;
  width: calc(100% - 300px);
  box-shadow: var(--shadow);
  padding: 40px 20px;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: 0.3s;
  z-index: 1000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 10px solid rgba(0, 0, 0, 0.142);
}
.category.active {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
}
.category .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
.category .container .box {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.category .container .box:hover img {
  transform: rotate(-3deg) scale(1.2);
}
.category .container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.category .container .box .text {
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
.category .container .box .text * {
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
  font-family: "Pacifico";
  font-size: 25px;
  text-align: center;
  mix-blend-mode: color-burn;
}

.contact-us {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  min-height: 100vh;
  z-index: 100000000;
  background-color: rgba(255, 255, 255, 0.287);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transform: translateY(-100%);
  transition: 0.3s;
}
.contact-us.show {
  transform: translateY(0);
}
.contact-us .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us .container form {
  width: 400px;
  background-color: var(--first-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.contact-us .container form .h1 {
  font-size: 30px;
  font-family: "Pacifico";
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}
.contact-us .container form i {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #888;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.contact-us .container form i:hover {
  opacity: 0.8;
}
.contact-us .container form input, .contact-us .container form textarea {
  padding: 7px 10px;
  margin-bottom: 10px;
  border: 1px solid #888;
  border-radius: 1px;
  font-family: "DM Sans";
  color: black;
}
.contact-us .container form input::-moz-placeholder, .contact-us .container form textarea::-moz-placeholder {
  color: #555;
}
.contact-us .container form input::placeholder, .contact-us .container form textarea::placeholder {
  color: #555;
}
.Skelton {
  --loading-grey: #ededed;
  background-color: #fff !important;
  z-index: -1;
}
.Skelton .card {
  height: 500px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  position: relative;
}
.Skelton .image {
  height: 300px;
}
.Skelton .image img {
  display: block;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.Skelton .content {
  margin: auto;
  width: 90%;
}
.Skelton h4 {
  margin: 10px auto;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.Skelton .description {
  font-size: 1rem;
  line-height: 1.4rem;
}
.Skelton .loading .image,
.Skelton .loading h4,
.Skelton .loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}
@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
.Skelton .loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: 0.05s;
}
.Skelton .loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: 0.06s;
}

.h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
}

.p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: rgb(229, 226, 226);
}

.bt {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #888;
  color: white;
  padding: 8px 50px;
  margin: 10px auto 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.47);
  box-shadow: var(--shadow);
}
.bt::after {
  content: "\f135";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 41deg;
  transition: 0.3s;
  opacity: 0;
}
.bt:hover {
  background-color: var(--text-color);
}
.bt:hover::after {
  margin-left: 75%;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */